<style>
@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');
</style>

body{
background-color: pink;
color: mistyrose;
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
display: flex
justify-content: center;
align-items: center;

}

.img01{
  width: 100%
}