<style>
@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');
</style>

body{
background-color: pink;
color: mistyrose;
  font-family: "Ole", cursive;
display: flex
justify
align-items: center;
}


}